body{
     padding: 0;
     margin: 0;
}
.flex-row{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
}
.flex-column{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}